<!--
* @Author: Dtvikey
* @Date:   2019-10-29 16:40:33
* @Last Modified by:   Dtvikey
* @Last Modified time: 2019-11-14 15:13:14
* @E-mail: dtvikey@163.com
-->
<!DOCTYPE html>
<html lang="en">
<head>
<%= require('html-loader!./layout/head-common.html') %>
<title><%= htmlWebpackPlugin.options.title%>-乐清网视频</title>
</head>
<body>
    <%= require('html-loader!./layout/header.html') %>
   <div class="w">
       <ul class="keywords-list">
           <li class="keywords-item">
               <a class="link" target="_blank" href="./list.html?keyword=不忘初心">不忘初心</a>
               <a class="link" target="_blank" href="./list.html?keyword=圆梦">圆梦</a>
           </li>
           <li class="keywords-item">
               <a class="link" target="_blank" href="./list.html?keyword=乐清">乐清</a>
               <a class="link" target="_blank" href="./list.html?keyword=乐成">乐成</a>
               <a class="link" target="_blank" href="./list.html?keyword=柳市">柳市</a>
               <a class="link" target="_blank" href="./list.html?keyword=虹桥">虹桥</a>
               <a class="link" target="_blank" href="./list.html?keyword=蒲岐">蒲岐</a>
               <a class="link" target="_blank" href="./list.html?keyword=白象">白象</a>
           </li>
           <li class="keywords-item">
               <a class="link" target="_blank" href="./list.html?keyword=企业">企业</a>
               <a class="link" target="_blank" href="./list.html?keyword=安全">安全</a>
           </li>
           <li class="keywords-item">
               <a class="link" target="_blank" href="./list.html?keyword=健康">健康</a>
               <a class="link" target="_blank" href="./list.html?keyword=社区">社区</a>
           </li>
           <li class="keywords-item">
               <a class="link" target="_blank" href="./list.html?keyword=微电影">微电影</a>
               <a class="link" target="_blank" href="./list.html?keyword=旅游">旅游</a>
           </li>
           <li class="keywords-item">
               <a class="link" target="_blank" href="./list.html?keyword=发布会">发布会</a>
               <a class="link" target="_blank" href="./list.html?keyword=文化">文化</a>
           </li>
           <li class="keywords-item">
               <a class="link" target="_blank" href="./list.html?keyword=活动">活动</a>
               <a class="link" target="_blank" href="./list.html?keyword=招牌菜">招牌菜</a>
           </li>
           <li class="keywords-item">
               <a class="link" target="_blank" href="./list.html?keyword=乐清新闻">乐清新闻</a>
               <a class="link" target="_blank" href="./list.html?keyword=梅溪讲堂">梅溪讲堂</a>
           </li>
           <li class="keywords-item">
               <a class="link" target="_blank" href="./list.html?keyword=会客厅">会客厅</a>
               <a class="link" target="_blank" href="./list.html?keyword=访谈">访谈</a>
           </li>
           <li class="keywords-item">
               <a class="link" target="_blank" href="./list.html?keyword=文化">文化</a>
               <a class="link" target="_blank" href="./list.html?keyword=阿蒙">阿蒙</a>
           </li>
       </ul>
       <div class="banner-con">
           <div class="loading"></div>
       </div>
   </div>
   <div class="w">
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=1"><h1 class="floor-title">F1 乐清网视</h1></a>
       <ul class="floor-list1">

       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=10"><h1 class="floor-title">F2 阿蒙带你抖</h1></a>
       <ul class="floor-list2">
        
       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=6"><h1 class="floor-title">F3 微电影展示</h1></a>
       <ul class="floor-list3">
         
       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=2"><h1 class="floor-title">F4 原创视频</h1></a>
       <ul class="floor-list4">
         
       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=3"><h1 class="floor-title">F5 镇街连线</h1></a>
       <ul class="floor-list5">
         
       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=5"><h1 class="floor-title">F6 活动视频</h1></a>
       <ul class="floor-list6">
         
       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=12"><h1 class="floor-title">F7 晚会视频</h1></a>
       <ul class="floor-list7">
         
      
       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=13"><h1 class="floor-title">F8 乐网会客厅</h1></a>
       <ul class="floor-list8">
         
       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=14"><h1 class="floor-title">F9 群众路线教育</h1></a>
       <ul class="floor-list9">
         
       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=11"><h1 class="floor-title">F10 访谈</h1></a>
       <ul class="floor-list10">
         
       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=4"><h1 class="floor-title">F11 乐视新闻</h1></a>
       <ul class="floor-list11">
         
       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=7"><h1 class="floor-title">F12 教育视频</h1></a>
       <ul class="floor-list12">
         
       </ul>
     </div>
     <div class="floor-wrap">
       <a class="link" href="list.html?categoryId=15"><h1 class="floor-title">F13 招牌菜</h1></a>
       <ul class="floor-list13">
         
       </ul>
     </div>
   </div>
   <%= require('html-loader!./layout/footer.html') %>
</body>
</html>