/*
* @Author: Dtvikey
* @Date:   2019-11-04 20:06:53
* @Last Modified by:   Dtvikey
* @Last Modified time: 2019-11-12 06:55:39
*/
.footer{
    padding-bottom: 10px;
    padding-top: 15px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding:  0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}


