<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="#">网站介绍</a> ｜
            <a class="link" href="#">广告服务</a> ｜
            <a class="link" href="#">网站律师</a> ｜
            <a class="link" href="#">诚聘英才</a> ｜
            <a class="link" href="#">联系方式</a> ｜
            <a class="link" href="#">服务条款</a> ｜
            <a class="link" href="#">版权声明</a> ｜
            <a class="link" href="#">信息合作</a> ｜
            <a class="link" href="#">网站地图</a> 
        </div>
       
            <div align="center"><script src="http://s20.cnzz.com/stat.php?id=3548828&web_id=3548828&show=pic1" language="JavaScript"></script></div>
       <p class="copyright">
      Copyright 2013 中国乐清网 All Rights Reserved. <br>
      中国乐清网版权所有，未经书面授权不得转载或镜像。新闻热线：0577-61528110<br>
      备案号：浙ICP备05000063号 广告部：0577-61600906　技术故障：0577-61523012&nbsp;&nbsp;
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
