<div class="header">
    <div class="w">
        <a class="logo"></a>
        <div class="search-con">
            <input class="search-input" id="search-input" placeholder="请输入视频名称"></input>
            <button class="btn search-btn" id="search-btn">搜索</button>
        </div>
        <div class="links">
            <a class="link" href="index.html">视频首页</a> ｜
            <a class="link" href="list.html?categoryId=1">乐清网视</a> ｜
            <a class="link" href="list.html?categoryId=2">原创视频</a> ｜
            <a class="link" href="list.html?categoryId=3">镇街连线</a> ｜
            <a class="link" href="list.html?categoryId=4">乐视新闻</a> ｜
            <a class="link" href="list.html?categoryId=5">活动视频</a> ｜
            <a class="link" href="list.html?categoryId=6">微电影</a> ｜
            <a class="link" href="list.html?categoryId=7">教育视频</a> ｜
            <a class="link" href="list.html?categoryId=8">专题视频</a> ｜
            <a class="link" href="list.html?categoryId=9">舞动全城</a> 
        </div>
    </div>
</div>