<div class="header">
    <div class="w">
        <a class="logo"></a>
        <div class="search-con">
            <input class="search-input" id="search-input" placeholder="请输入视频名称"></input>
            <button class="btn search-btn" id="search-btn">搜索</button>
        </div>
        <div class="links">
            <a class="link" href="lei.jsp?typeid=1">乐清网视</a> ｜
            <a class="link" href="lei.jsp?typeid=2">原创视频</a> ｜
            <a class="link" href="lei.jsp?typeid=3">镇街连线</a> ｜
            <a class="link" href="lei.jsp?typeid=4">乐视新闻</a> ｜
            <a class="link" href="lei.jsp?typeid=5">活动视频</a> ｜
            <a class="link" href="lei.jsp?typeid=6">微电影</a> ｜
            <a class="link" href="lei.jsp?typeid=7">教育视频</a> ｜
            <a class="link" href="lei.jsp?typeid=8">专题视频</a> ｜
            <a class="link" href="lei.jsp?typeid=9">舞动全城</a> 
        </div>
    </div>
</div>